# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Java / Maven
automation-suite/target/

# Gradle
automation-suite/.gradle/
automation-suite/build/
automation-suite/out/
automation-suite/bin/

# Selenium / test artifacts
automation-suite/test-results/
automation-suite/screenshots/

# Allure artifacts
automation-suite/allure-results/
automation-suite/allure-report/
automation-suite/.allure/